$rosewater: #E3A8D1;
$flamingo: #E3A8D1;
$pink: #E3A8D1;
$mauve: #D6A0D1;
$red: #E67E80;
$maroon: #E67E80;
$peach: #E69875;
$yellow: #DBBC7F;
$green: #B2C98F;
$teal: #93C9A1;
$sky: #97C9C3;
$sapphire: #9BB5CF;
$blue: #9BB5CF;
$lavender: #D6A0D1;
$text: #D5D6C8;
$subtext1: #CCD4C1;
$subtext0: #BBCEC0;
$overlay2: #94AAA0;
$overlay1: #6E8585;
$overlay0: #5E6C70;
$surface2: #46565B;
$surface1: #3F4D52;
$surface0: #313C40;
$base: #232A2E;
$mantle: #1C2225;
$crust: #171C1F;
